<div class="card">
  <div class="card-body text-dark">
    <h1>
      <%= society_server.game.name %>
      <span class="text-muted">
        sleipnir.slugsoc.co.uk:<%= society_server.port %>
      </span>
    </h1>
    <h3>
      <% if society_server.details %>
        <%= icon('fas', 'users')%> <%= society_server.details[:number_of_players] %> / <%= society_server.details[:max_players] %>
        | v<%= society_server.details[:game_version] %>
        | <%= society_server.details[:game_description] %>
        | <%= society_server.details[:map_name] %>
      <% end %>
      <% if signed_in? %>
        <%= link_to edit_society_server_path(society_server) do %>
          <%= icon('fas', 'edit') %>
        <% end %>
        <%= link_to society_server, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon('fas', 'trash') %>
        <% end %>
      <% end %>
    </h3>
  </div>
</div>
